.mainBG {
    background: #dde5f4;
  }
  /* Rectangle 9 */
  
  .bgCard {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    max-width: 390px;
    max-height: 590px;
    padding: 20px;
  }
  
  .CardReport {
    background: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 20px;
  }
  
  /* Username suncahi Email username@gmail.com */
  .name{
  margin-left: 5px;
  color: rgb(0,0,0,0.7);
  }